/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-Aug-2017, 21:02:14
    Author     : micha
*/

body{
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: small;
    color: white;
}
h1#Title{
    font-family: 'Helvetica', 'Arial', sans-serif;
    text-align: center;
    font-size: xx-large;
    width: 100%;
}

aside#AsideLeft{
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: small;
    width: 25%;
    float: left;
    /*background-color: lightgreen;*/
    height: 1000px;
   
}

article#ArticleMain{
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: large;
    text-align: justify;
    width: 50%;
    float: left;
    height: 1000px;
}

aside#SkillsCompetencies{
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: small;
    width: 25%;
    float: left;
    height: 1000px;
}

footer div {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: small;
}

a{
    color: white;
}

a:active { 
    background-color: yellow;
}

section {
    /* outline: blue 1px dotted;*/
}

