/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-Sep-2017, 10:04:38
    Author     : micha
*/


table{
    margin-left: 10%;
    border-radius: 25px;
    border: 1px solid lightgray;
    padding: 50px;
    width: 80%;
}

th{
    color: white;
    padding: 7px;
}
td{
    color: white;
    font-weight: normal;
    border: 1px solid lightgray;
    padding: 5px;
}

.td_hover:hover{
   opacity: 0.5;
   background-color: black;
   font-weight: bolder;
}

table a:link{
    color: white;
}


table caption:hover{
    color: white;
}

